.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #c9a14a;
}

.book-btn {
  background: #c9a14a;
  border: none;
  padding: 10px 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: white;
}

.mobile-book-btn {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #c9a14a;
}

.logo a {
  text-decoration: none;
  color: white;
}


@media (max-width: 900px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 30px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .book-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-book-btn {
    display: block;
    background: #c9a14a;
    border: none;
    padding: 10px 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 16px 25px;
  }

  .logo {
    font-size: 20px;
  }
}
